@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --brand-purple: #a540f3;
  --brand-purple-alt: #a440f1;
  --brand-purple-light: #f6ecfe;
  --brand-purple-200: #ebd3ff;

  /* Backgrounds */
  --bg-light: #f7f7fd;

  /* Text colors */
  --text-primary: #0e0e0e;
  --text-secondary: #79767d;

  /* Borders */
  --border-light: #eee7ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plus-jakarta: var(--font-plus-jakarta-sans);
  --font-family-plus-jakarta: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;

  /* Brand colors */
  --color-brand-purple: var(--brand-purple);
  --color-brand-purple-alt: var(--brand-purple-alt);
  --color-brand-purple-light: var(--brand-purple-light);

  /* Backgrounds */
  --color-bg-light: var(--bg-light);

  /* Text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  /* Borders */
  --color-border-light: var(--border-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), Arial, Helvetica, sans-serif;
}
